h1 {
         color: black;
         font-size: 12pt;
      }
h2 {
         color: pink ;
         font-size: 12pt;
      }
h3 {
         color: white;
         font-size: 12pt;
      }
h4 {
         color: yellow;
         font-size: 12pt;
      }
h5 {
         color: yellow;
         font-size: 27pt;
      }
h6 {
         color: pink;
         font-size: 24pt;
      }
h7 {
         color: hotpink;
         font-size: 12pt;
      }
h8 {
         color: fuchsia;
         font-size: 12pt;
      }

h9 {
         color: aqua;
         font-size: 12pt;
      }
 h10 {
  color: purple;
  font-size: 36pt;
}

      body {
          }
      
.bg-image{

background-image: url("ombre.jpeg");
background-repeat: no-repeat;
 height:5000%;

}

